{% extends 'base.html.twig' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Pavadinimas</th>
        <th>Tipas</th>
        <th>Kiekis</th>
        <th>Kaina</th>
        <th>Sukurtas</th>
        <th>Keisti</th>
        <th>Ištrinti</th>
    </tr>
    </thead>
    <tbody>
    {% for part in parts %}
        <tr>
            <td>{{ part.id }}</td>
            <td>{{ part.title }}</td>
            <td>{{ part.type }}</td>
            <td>{{ part.qnt }}</td>
            <td>{{ part.price }}</td>
            <td>{{ part.created|date('Y-m-d') }}</td>
            <td class="text-center">
                <a href="/index.php/parts/{{ part.id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td class="text-center">
                <a href="/index.php/parts/{{ part.id }}/delete"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}